.container-header{
    width: 100%;
    height: 10vh;
    display: flex;
    background-color: #fff;
    align-items: center;    
    justify-content: center;       /* jogando para direita mas não tudo */
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.container-header-logo{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
}

.container-header-logo img{
    max-width: 160px;
    max-height: 85px;
}
.container-header-button{
    display: none;
} 

.container-header-navbar-mobile{
    display: none;
}

.container-header-navbar-mobile div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.container-header-navbar-pc{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-header-navbar-pc div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.container-header-navbar-pc div a{
    color: black;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
}

.container-header-navbar-pc div a:hover{
    color: #53e90e;
    transition: 0.5s;
}

.container-header-navbar-pc div a::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #53e90e;
    transform-origin: bottom right;
    transition: transform 0.7s ease-in ;
}
.container-header-navbar-pc div a:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;

}
.container-header-navbar-mobile.active{
    display:none;
    animation: abrirMenu 1s ease-in-out;
}

.container-header-navbar-mobile div a{
    color: black;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
}

.container-header-navbar-mobile div a:hover{
    color: #53e90e;
    transition: 0.5s;
}

.container-header-navbar-mobile div a::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #53e90e;
    transform-origin: bottom right;
    transition: transform 0.7s ease-in ;
}
.container-header-navbar-mobile div a:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;

}

.container-header-navbar-mobile.active{
    animation: abrirMenu 0.8s ease-in-out;
}
@media screen and (max-width:820px){

    .container-header-navbar-mobile.active{
        display: block;
    }
    .container-header-navbar-pc{
        display: none;
    }

    .container-header{
        z-index: 200;
    }
    .container-header-logo{
        width: 50%;
        z-index: 200;
        justify-content: center;
    }
    .container-header-button{
        position: relative;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 200;
        cursor: pointer;
    }

    .container-header-navbar-mobile{
        width: 100%;
        height: 20vh;
        background-color: #fff;
        overflow: hidden;
        position: absolute;
        top: 10vh;
        z-index: 10;
        align-items: center;
        justify-content: center;
    }
    .container-header-navbar-mobile div{
        flex-direction: column;
        justify-content: center;
        margin-top: 20px;
    }
    .container-header-navbar-mobile div a{
        margin: 8px;

    }

    .container-header-navbar-mobile.active div a{
        margin: 8px;
        animation: mostrarTexto 1s ease-in;
    }

}

@keyframes abrirMenu{
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(0%);
    }
}

@keyframes mostrarTexto{
    0%{
        opacity: 0;
    }
    30%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}